
  body .button {
    font-family: 'Courier New', monospace;
    text-align: center;
    height: 200px;
    background: honeydew;
  }
  .dot {
    height: 8px; width: 8px;
    border-radius: 4px; /* rounds corners */
    background: blue;
    position: absolute;
  }
