body { 
font-family: Arial, sans-serif;
margin: 0;
padding: 0; 
background-image: url(background-midterm.jpg);
background-size:auto;
color: #3f3f3f;
font-size: 16px;
line-height: 24px;
}

a { color: #000088; }
a:hover { color: #880000; }

#wrap { 
margin: 40px auto;
width: 940px;
background: #fff;

box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

#header {
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

background: #f9f9f9;
padding: 20px 0 40px 0;
}
#header h1 {
margin: 0;
padding: 0 0 0 30px;
font-weight: bold;
color: #3f3f3f;
font-family: 'LemonRegular';
font-size: 38px;
line-height: 65px;
letter-spacing: -1px;
}
#header h2 {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
margin: 0 0 0 20px; 
padding: 5px 12px;
font-weight: normal;
color: #171717;
font-size: 22px;
letter-spacing: -1px;
background: #FFEE9F;
border: 1px solid #FFE25F;
display: inline;
}

#navbar {
position: fixed; 
top: 0; 
left: 0; 
z-index: 9999; 
width: 100%; 
height: 35px; 
background-color: #ffcccc; 
text-align: center;
padding: 10px 0px;


}
#navbar ul { margin: 0; padding: 1px ;list-style-type: none;}
#navbar li { display: inline; padding: 0 15px 0 0;}
#navbar li a {  text-align: center; text-decoration: #595959 wavy underline; 
}

.search { float: right; padding: 0px 20px; }

#content { margin: 0px 40px 20px;}
#content h2 { font-weight: normal; font-size: 22px; line-height: 33px; }
#content h3 { font-size: 17px; font-weight: normal; }


#footer { 
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;

background: #3f3f3f;
color: #fff;
padding: 20px;
border-top: 1px solid #1f1f1f;
}
#footer a { color: #fff; text-decoration: none; border-bottom: 1px dotted #fff; }
#footer a:hover { border-bottom: 1px dotted #ccc; }


